/* Add spacing because navbar is fixed */
.hero-section {
  margin-top: 110px;
  position: relative;
  width: 100%;
  height: 92vh;

  background-image: url("https://images.unsplash.com/photo-1573497491208-6b1acb260507?auto=format&fit=crop&w=1600&q=80");
  background-size: cover;
  background-position: center;
}

/* Dark fade overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
}

/* Center text */
.hero-content {
  position: relative;
  z-index: 2;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #fff;
}

/* Main Title */
.hero-content h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}

.hero-content h1 span {
  color: #4da3ff;
}

/* Sub text */
.hero-content p {
  font-size: 18px;
  margin-bottom: 22px;
  opacity: 0.9;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background: #007bff;
  padding: 12px 25px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: #0056d6;
  transform: translateY(-2px);
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.25);
  padding: 12px 25px;
  color: white;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s ease;
}

.btn-secondary:hover {
  background: rgba(255,255,255,0.35);
  transform: translateY(-2px);
}
